# code owners are automatically assigned to review PRs

# DevX
*.nix       @IntersectMBO/core-tech-devx @lehins
nix         @IntersectMBO/core-tech-devx @lehins
flake.lock  @IntersectMBO/core-tech-devx @lehins
.github     @IntersectMBO/core-tech-devx @lehins

# Packages
cardano-binary            @lehins @IntersectMBO/cardano-ledger-maintainers
cardano-crypto-class      @lehins
cardano-crypto-praos      @lehins
cardano-crypto-tests      @lehins
cardano-mempool           @lehins
cardano-slotting          @lehins @IntersectMBO/cardano-ledger-maintainers
cardano-strict-containers @lehins @IntersectMBO/cardano-ledger-maintainers
heapwords                 @lehins @IntersectMBO/cardano-ledger-maintainers

base-deriving-via    @nfrisby @lehins
orphans-deriving-via @nfrisby @lehins
measures             @nfrisby @lehins

cardano-git-rev @erikd @lehins

strict-checked-vars @jorisdral @coot @lehins
